.ApiStudio {
  padding-top: 6px;
  pre {
    font-size: 10px;
  }
  .responsesTabs {
    margin-top: 10px;
  }
  .headerBox {
    .methodTabs>.ant-tabs-nav {
      margin-bottom: 0;
    }
    .apiPath {
      // font-weight: bold;
    }
  }
}
