#root {
  .Headers {
    .panelTitle {
      font-weight: bold;
    }
    .btnList {
      display: inline-block;
      margin-left: 10px;
      .tag {
        // cursor: pointer;
        &:hover {
          // color: #000;
        }
        &.cur {

        }
      }
    }
    .panelBody {
      pre {
        // font-family: 'Courier New', Courier, monospace;
        white-space: pre-wrap;
        word-break: break-all;
        .key {
          font-weight: bold;
        }
        .val {
          padding-left: 4px;
        }
      }
    }
  }

}
