.drawer {
  .ant-drawer-content-wrapper {
    max-width: 50%;
    min-width: 320px;
  }
}
#root {
  .HttpShow {
    background-color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 20px;
    .info {
      .item {
        word-break: break-all;
        .key {
          text-transform: uppercase;
          font-weight: bold;
          display: inline-block;
          padding-right: 10px;
        }
      }
    }
    .optionsPreViewRes {
      max-height: 50vh;
      margin-top: 10px;
      justify-content: center;
      align-items: center;
      display: none;
      &.show {
        display: flex;
      }
      &>* {
        max-width: 80%;
        max-height: 50vh;
        box-shadow: 5px 5px 10px;
      }
    }
  }

}
