.ApiStudioEdit {
  padding-top: 6px;
  .ant-tabs-tab-btn>div:not(.hasValue) {
    color: #ccc;
  }
  pre {
    font-size: 10px;
  }
  .responsesTabs {
    margin-top: 10px;
  }
  .headerBox {
    .methodTabs>.ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}
