#root {
  .ApiList {
    .ant-table-column-sorters {
      padding: 0;
    }
    .ant-table-cell {
      word-break: break-all;
    }
    .operation {
      &>* {
        vertical-align: middle;
      }
    }
    .apiType:not(.apiWeb) {
      display: none;
    }
  }
}
