#root {
  .ApiList {
    .ant-table-column-sorters {
      padding: 0;
    }
    .ant-table-cell {
      word-break: break-all;
    }
    .operation {
      svg {
        cursor: pointer;
      }
      &>* {
        vertical-align: middle;
      }
    }
    .apiType:not(.apiWeb) {
      .btn {
        &.delete,
        &.switch {
          pointer-events: none;
          opacity: 0.5;
          filter: alpha(opacity=50);
          cursor: default;
        }
      }
    }
  }
}
