#root {
  .HttpShow {
    background-color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    .info {
      .item {
        word-break: break-all;
        .key {
          text-transform: uppercase;
          font-weight: bold;
          display: inline-block;
          padding-right: 10px;
        }
      }
    }
  }

}
