/* 重置 swagger-ui 的样式 */
body .swagger-ui .wrapper {
  padding: 0;
}
body .swagger-ui .opblock .opblock-summary {
  cursor: not-allowed;
  pointer-events: none;
}
/* 以 body 为相对元素, 设置 swaggerBox 的位置 */
body {
  position: relative;
}
/* 避免出现双平滚动条, 影响体验 */
#root {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.swaggerBox {
  position: fixed;
  width: 50%;
  right: 0;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  z-index: 9;
}
.swaggerBox.hide{
  visibility: hidden;
  cursor: none;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
}
.swaggerBox.show{
  visibility: visible;
  cursor: initial;
}
#swagger-ui {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
